.form-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  padding: 0 60px 60px 60px;
  gap: 15px;
  max-width: 600px;
  align-self: center;
}

:where(.form-box label, .form-box input) {
  display: block;
  width: 100%;
  font-size: 14px !important;
}

.form-box label {
  margin-bottom: 5px;
  color: var(--very-dark-violet);
}

.form-box input {
  padding: 10px;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 4px;
  outline: none;
}

.form-box input:hover,
.form-box input:focus {
  border-color: var(--very-dark-violet);
}

.form-box input.error {
  border-color: #B30000;
}

.input-box:nth-child(1),
.input-box:nth-child(2) {
  grid-column: 1/-1;
}

.input-box:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 15px;
}

.input-box:nth-child(3) label {
  grid-column: 1/-1;
}

.form-box button {
  grid-column: 1/-1;
  background-color: var(--very-dark-violet);
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  color: var(--white);
}

.form-box button:hover {
  opacity: 0.8;
}

.form-box button:focus {
  border-color: var(--light-grayish-violet);
}

@media only screen and (max-width: 1000px) {
  .form-box {
    padding: 0 15px 60px 15px;
    align-self: initial;
  }
}

@media only screen and (max-width: 450px) {
  .input-box {
    grid-column: 1/-1;
  }
}