.active.form-box {
  display: grid;
}

.form-box {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  padding: 0 60px 60px 60px;
  gap: 15px;
  max-width: 600px;
  align-self: center;
}

:where(.form-box label, .form-box input) {
  display: block;
  width: 100%;
  font-size: 14px !important;
}

.input-box {
  position: relative;
}

.input-box:nth-child(1),
.input-box:nth-child(2) {
  grid-column: 1/-1;
}

.input-box:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 15px;
}

.input-box:nth-child(3) label {
  grid-column: 1/-1;
}

.input-box label {
  margin-bottom: 5px;
  color: var(--very-dark-violet);
}

.input-box input {
  padding: 10px;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.input-box input:hover,
.input-box input:focus {
  border-color: var(--very-dark-violet);
}

.input-box input.error {
  border-color: #B30000;
}

.input-box span.error {
  position: absolute;
  bottom: -10px;
  left: 0;
  color: #B30000;
  font-size: .7rem;
  opacity: 0;
  display: none;
}

.form-box input.error~span.error {
  opacity: 1;
  display: block;
}

@media only screen and (max-width: 1000px) {
  .form-box {
    padding: 0 15px 60px 15px;
    align-self: initial;
  }
}

@media only screen and (max-width: 450px) {
  .input-box {
    grid-column: 1/-1;
  }
}